[tool.poetry]
name = "mkdocs-same-dir"
version = "0.1.2"
description = "MkDocs plugin to allow placing mkdocs.yml in the same directory as documentation"
authors = ["Oleh Prypin <oleh@pryp.in>"]
license = "MIT"
repository = "https://github.com/oprypin/mkdocs-same-dir"
keywords = ["mkdocs", "mkdocs-plugin"]
readme = "README.md"

[tool.poetry.plugins."mkdocs.plugins"]
same-dir = "mkdocs_same_dir.plugin:SameDirPlugin"

[tool.poetry.dependencies]
python = "^3.6"
mkdocs = "^1.0.3"

[tool.poetry.dev-dependencies]
black = ">=20.8b1"
isort = "^5.6.4"
autoflake = "^1.4"

[tool.black]
line-length = 100

[tool.isort]
line_length = 100
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
